---
import TestimonialsSlider from "../islands/TestimonialsSlider";
import { testimonials } from "@/data/testimonials";
---

<section
  class="relative py-14 before:absolute before:inset-0 before:-z-10 before:-skew-y-3 before:border-primary/20 before:border-b sm:py-28 lg:py-36"
>
  <div class="flex gap-12 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <TestimonialsSlider testimonials={testimonials} client:load />
  </div>
</section>
