---
import About from "@/components/sections/About.astro";
import Hero from "@/components/sections/Hero.astro";
import Popular from "@/components/sections/Popular.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Bistro – Fine Dining Experience"
  description="Experience exceptional cuisine in the heart of the city."
>
  <main>
    <Hero />
    <Popular />
    <About />
    <Testimonials />
  </main>
</Layout>
