---
import Footer from "@/components/layout/Footer.astro";
import Navbar from "@/components/layout/Navbar.astro";
import About from "@/components/sections/About.astro";
import Contact from "@/components/sections/Contact.astro";
import Hero from "@/components/sections/Hero.astro";
import Menu from "@/components/sections/Menu.astro";
import Offers from "@/components/sections/Offers.astro";
import Popular from "@/components/sections/Popular.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Bistro – Fine Dining Experience"
  description="Experience exceptional cuisine in the heart of the city."
>
  <main>
    <Navbar />
    <Hero />
    <Popular />
    <About />
    <Testimonials />
    <Menu />
    <Contact />
    <Offers />
    <Footer />
  </main>
</Layout>
